{% extends "pages/base.html" %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock head %}

{% block body %}
<header>
    <a href="#" class="logo">NBLESport</a>
    <nav class="navigation">
        <a href="#services">About Us</a>
        <a href="#games">Games</a>
        <a href="join-us/" target="_blank" >Join Us</a>
    </nav>
</header>

<section class="main" style="background-image: url('{% static "images/background.jpg" %}');">
    <div>
        <h2>Welcome to <br><span>Nebula Esport</span></h2>
        <h3>One Of The Top Algerian <br> E-Sport Organizations</h3>
        <a href="#games" class="main-btn">Join Us</a>
        <div class="social-icons">
            <a href="https://discord.gg/Trgha7Z5RM" target="_blank"><i class="fa-brands fa-discord"></i></a>
            <a href="https://www.instagram.com/nblesport/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/nebulaespo13559" target="_blank"><i class="fa-solid fa-square-xmark"></i></a>
        </div>
    </div>
</section>

<section class="cards" id="services">
    <h2 class="title">What Do We Do?</h2>
    <div class="content">
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-skull"></i>
            </div>
            <div class="info">
                <h3>Compete in tournaments</h3>
                <p>across Valorant, Fortnite, Rocket League, and possibly more games in the future</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-regular fa-clock"></i>
            </div>
            <div class="info">
                <h3>Build and support teams</h3>
                <p>by scouting talent, training players, and helping them grow</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-fire"></i>
            </div>
            <div class="info">
                <h3>Create opportunities</h3>
                <p>for players, streamers, and content creators to thrive in esports</p>
            </div>
        </div>
    </div>
</section>

<section class="games" id="games">
    <h2 class="title">Our Games</h2>
    <div class="content">
        <div class="game-card">
            <div class="game-image">
                <img src="{% static 'images/Valorant.jpg' %}" alt="Valorant">
            </div>
            <div class="game-info">
                <p class="game-category">1 Player Left</p>
                <strong class="game-title">
                    <span>Valorant</span>
                    <a href="join-us/" class="more-details" target="_blank">Join Us</a>
                </strong>
            </div>
        </div>
        <div class="game-card">
            <div class="game-image">
                <img src="{% static 'images/CS.jpg' %}" alt="CS 2">
            </div>
            <div class="game-info">
                <p class="game-category">Coming Soon...</p>
                <strong class="game-title">
                    <span>CS 2</span>
                    <a href="join-us/" class="more-details" target="_blank">Join Us</a>
                </strong>
            </div>
        </div>
        <div class="game-card">
            <div class="game-image">
                <img src="{% static 'images/FC.jpg' %}" alt="FC 25">
            </div>
            <div class="game-info">
                <p class="game-category">Coming Soon...</p>
                <strong class="game-title">
                    <span>FC 25</span>
                    <a href="join-us/" class="more-details" target="_blank">Join Us</a>
                </strong>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
